@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.HeroSection{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  h1{
    font-size: 4rem;
     margin-bottom: 10px;
  }
  .passionateText{
      font-size: 1.6rem;
      margin-bottom: 20px;
      font-family: Arial, sans-serif;
      color: white;
  }
  .links{
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content:center; 
    a{
      color: inherit;
      &:hover{
        color:black;
      }
    }
  }
  .aboutBtn{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    &:hover{
      background-color: white;
      color:#0a0a0a;
    }
  }
}


.AboutMe{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 30px;
  background-color: #ededed;
  color:#0a0a0a;
  .image{
    flex: 0 0 auto;
  }
  .text{
    flex: 1;
    max-width: 600px;
    text-align: left;
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  }
  .resume-button {
    background-color: transparent;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  .profile-image {
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 990px) {
    .AboutMe {
      flex-direction: column;
      text-align: center;
    }

    .image {
      display: none;
    }

    .text {
      max-width: 100%;
    }
  }
}

.experiences-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  color:#0a0a0a;
  .title{
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
  }
  .experiences-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    .experience-card{
      display:flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;

      .experience-logo{
        width: 100px;
        height: auto;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      p {
        font-size: 1rem;
        margin: 5px 0;
      }
    }

  }
  @media (max-width: 990px) {
    .experiences-grid {
      grid-template-columns: 1fr;
    }
  } 
}